
/*Nav*/

.navbar {
    background-color: #ffffff;
    height:75px;
    border-bottom: thin grey;
}

.soloNav {
    color: grey;
}

#soloNavContainer {
    height:75px;
    border-bottom: thin grey;
}

.mcLinks {
    float: right;
}

.btn-outline-primary .btn-primary{
    color:#0996ED;
}

/* Search bar */
.soloSearch {
    position: relative;
    color: gray;
    font-size: 14px;
}

.soloSearch input {
    text-indent: 32px;
}

.soloSearch .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*.homeImg {
    border: 2px solid yellow;
    width: 200px;
}

.img-thumbs {
    object-fit: cover;
}*/

/*Homepage Profile Images*/
.crop-container {
    width: 340px;
    height: 225px;
    border-radius: 25px;
    overflow: hidden;

}
.crop-container img {
    height: 225px;
    border-radius: 25px;

}

.subheader {
    font-family: Lato;
}

.sub-username {
    font-size: 26px;
}

.sub-location {
    color: grey;
    font-weight: 100;
    font-size: 20px;
}


/*Message center profile images*/
.mc-crop-container {
    width: 75px;
    height: 75px;
    overflow: hidden;

}
.mc-crop-container img {
    height: 75px;

}