
/*Nav*/

.btn-primary {
    background-color: #00A6FF;
    color: #ffffff;
    border-color: #00A6FF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #00A6FF;
}

.btn-primary:active, .btn-primary.active {
    background-color: #00A6FF;
    box-shadow: none;
}

#mynavBar soloNavContainer
{
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff;
    height:75px;
    border-bottom: thin grey;
}

.soloNav {
    color: grey;
}

#soloNavContainer {
    height:75px;
    border-bottom: thin grey;
}

.mcLinks {
    float: right;
}

.btn-outline-primary .btn-primary{
    color:#0996ED;
}

/* Search bar */
.soloSearch {
    position: relative;
    color: gray;
    font-size: 14px;
}

.soloSearch input {
    text-indent: 32px;
}

.soloSearch .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*.homeImg {
    border: 2px solid yellow;
    width: 200px;
}

.img-thumbs {
    object-fit: cover;
}*/

/*Profile Grid Images*/
.crop-container {
    width: 340px;
    height: 225px;
    border-radius: 25px;
    overflow: hidden;

}
.crop-container img {
    height: 225px;
    border-radius: 25px;

}

.subheader {
    font-family: Lato;
}

.sub-username {
    font-size: 26px;
}

.sub-location {
    color: grey;
    font-weight: 100;
    font-size: 20px;
}


/*Message center profile images*/
.mc-crop-container {
    width: 75px;
    height: 75px;
    overflow: hidden;

}
.mc-crop-container img {
    height: 75px;

}

/*Message center profile images*/
.profile-crop-container {
    width: 350px;
    height: 350px;
    overflow: hidden;

}
.profile-crop-container img {
    height: 350px;
}

#profile-content-left {
    max-height:800px;
    max-width:400px;
    align-items:start;
}


#profile-content-right {
    /*max-width:500px;
    min-width:400px;*/
    width:600px;
    align-items:end;
}

#userData{
    min-height:300px;
    padding-top:85px;
    padding-left:30px;
}

#commentBox{
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

#mediaBox{
    padding-top:50px;
    padding-left:50px;
}

#publicPicture
{
    padding-bottom:30px;
}

#adminContent
{
    padding-left:50px;
    padding-top: 50px;
}

#pic
{
    padding-top:5px;
    padding-bottom: 15px;
}

#vid
{
    padding-top:10px;
    padding-bottom:30px;
}

#saveEditDiv
{
    padding-top:15px;
    padding-left:225px;
}

#userData section {
    float:right;
}

#bookingDetails {
    text-align: center;
    padding-top:5px;
}




/*Home page header*/
#homepageHeader{
    margin-top: 20px;
    margin-bottom: 20px;
}

#homepageHeader h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #00A6FF;

}

#homepageHeader h2{
    text-align: center;
    font-size: 26px;
    color: #969FAA;

}

#homepageHeader h3{
    font-size: 26px;
    color: #00A6FF;
}

.soloHeader {
    font-size: 26px;
    color: #00A6FF;
}